* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7f7;
  /* padding: 20px;
  padding-left: 20px;
  padding-right: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}
nav {
  font-size: 18px;
  text-align: center;
}

/* nav a:link {
  background-color: red;
  margin: 20px;
  padding: 30px;

  display: block;
} */

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  position: relative;
}

aside {
  background-color: #f7f7f7;
  /* border 5px solid=透明 */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  /* font-family: sans-serif;
  color: #444; */
}

/* textの色をかえるには 
  color だけどやっていいのは
*/
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  /* ABCDEFG */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  /* テキストの位置
  左 真ん中 右 */
  text-align: center;
}

li {
  font-size: 22px;
  display: inline;
}

p {
  font-size: 22px;
  /* line-height 行間 */
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* 変更かけたい場所が入れ子の場合 
親要素 子要素 のように記載
入れこのように指定することで色々変更
*/

/* article header p {
  font-style: italic;
} */

/* 親要素 子要素を使う */
/* footer p {
  font-size: 16px;
} */

/* idの場合は#を使用 
またidは再利用不可能。特定のものに対して使用したい場合のみに使用する */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* classの場合は「.」を用いる。再利用可能 */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-posts-list {
  list-style: none;
}

body {
  /* background-color: rgb(243, 239, 239); */
}

/* .first-li {
  font-weight: bold;
} */

/* 
  pseudo-classes means 疑似クラス
  selectorの特定の要素の時に作用するようにできる
  下記の場合はliの最初の要素をboldにする
  「selector : アクション要素」で書く
  for example :hover :first 
*/

li {
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(odd) {
  /* color: red; */
}

/*  Missconception: this won't work! */
article p:first-child {
  color: red;
}

/* Styling links  */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* one time you push the link 
this css down below can work */
a:visited {
  color: #1098ad;
}

/* if you cursor this css down below can work*/
a:hover {
  font-weight: bold;
  color: orange;
  text-decoration: underline orange;
}

/* youn are clicking the link (I mean hold down) 
then this css down below can work
*/
a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  /* auto means the img size 
  100 % 50% is not same meaning
  */
  width: 100%;
  height: auto;
}

/* 
Resolving confilicts
#copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}

footer p {
  color: green !important;
}

a {
  color: red;
} */
/* 
nav a:link,
p {
  font-size: 18px;
} */

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-letter {
  font-size: 80px;
}

h2 {
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

.author-img {
  float: left;
}

.author {
  padding-left: 80px;
}
